flask
tensorflow==2.17.1
librosa
soundfile
opencv-python
numpy==1.26.4
scikit-learn
mediapipe==0.10.14
protobuf==4.25.3
jax==0.4.28
jaxlib==0.4.28
matplotlib
seaborn
google-generativeai
google-genai
openai
pandas
python-multipart
flask-sqlalchemy
reportlab
openpyxl
pydub
python-dotenv
